*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}

#note-creation-section{
    height: 100%;
    width:50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: #cfd8e3;
}

#input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
}

#note-content{
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #7c4740;
    border-radius: 10px;
}

#note-creation-section button{
    width: 30%;
    padding: 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(45deg, rgb(24, 198, 8), rgb(134, 172, 135));
    cursor: pointer;
    border: none;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#note-creation-section button:hover{
    opacity: 1;
}

#note-store-section{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 0 1.5rem;
    overflow-y: scroll;
}

#note-store-section h1{
    height: 10%;
    width: 100%;
    text-align: center;
}

#notes-container{
    height: 25%;
    width: 25%;
    text-align: center;
    margin-top: 1rem;
}

.note{
    min-width: 100px;
    min-height: 100px;
    color: white;
    margin-right: 1.25rem;
    margin-bottom: 1rem;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.close-btn{
    cursor: pointer;
    height: fit-content;
}

.hidden{
    display: none;
}

@media screen and (max-width:900.5px) {
    main{
        flex-direction: column;
    }

    #note-creation-section{
        width: 100%;
    }

    #note-store-section{
        width: 100%;
    }
}

@media screen and (max-width:470.5px) {
    #input-section{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    #note-content{
        width: 100%;
    }
}

@media screen and (max-width:415.5px) {
    #note-creation-section button{
        width: 40%;
    }
}

@media screen and (max-width:336.5px) {
    #note-creation-section button{
        width: 50%;
    }
}